@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-coffee-50: #fbf8f6;
  --color-coffee-100: #f5efe9;
  --color-coffee-200: #ebe0d6;
  --color-coffee-300: #dcbfae;
  --color-coffee-400: #c8a38e;
  --color-coffee-500: #967259;
  --color-coffee-600: #7c5c46;
  --color-coffee-700: #624636;
  --color-coffee-800: #4a3328;
  --color-coffee-900: #332119;
  --color-coffee-950: #1c110c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  background-image: url("/unandbakti25.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
