@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-coffee-50: #fbf8f6;
  --color-coffee-100: #f5efe9;
  --color-coffee-200: #2d1a0b;
  --color-coffee-300: #2d1a0b;
  --color-coffee-400: #2d1a0b;
  --color-coffee-500: #2d1a0b;
  --color-coffee-600: #2d1a0b;
  --color-coffee-700: #2d1a0b;
  --color-coffee-800: #2d1a0b;
  --color-coffee-900: #2d1a0b;
  --color-coffee-950: #2d1a0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  background-image: url("/unandbakti25.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.titan-one {
  font-family: "Titan One", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.titan-one-100 {
  font-family: "Titan One", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.titan-one-300 {
  font-family: "Titan One", sans-serif;
  font-weight: 300;
  font-style: normal;
}
